<ul id="subnavigation">
	<li class="tab"><%= link_to "Overview", project_overview_url(:id => @project ) %> </li>
	<li class="tab"><%= link_to "Graphs", project_graph1_url(@project) %> </li>
	<li class="active"><%= link_to "Referers", referers_queries_url(@project) %> </li>
	<li class="tab"><%= link_to "Logout", :controller => 'login', :action => 'logout' %> </li>
</ul>





<table id="tabledata">
	<tbody>
	<thead>
	<tr>
		<th> Query String </th>
		<td> Visits </td>
		<td> Page/Visits </td>
		<td> Avg. Time </td>
		
	</tr>
	<tbody>
	<%for q in @data%>
		<tr>
			<th> <%=h q[0]%> </th>
			<td> <%=h q[1]%></td>
			<td> <%=h q[2]%></td>
			<td> <%=h q[3]%></td>
		</tr>
	<% end %>
	
	</tbody>
</table>


