<ul id="subnavigation">
	<li class="tab"><%= link_to "Overview", project_overview_url(:id => @project ) %> </li>
	<li class="active"><%= link_to "Graphs", project_graph1_url(@project) %> </li>
	<li class="tab"><%= link_to "Logout", :controller => 'login', :action => 'logout' %> </li>
</ul>


			
<%= render  :partial => "total_clicks" , 
			:locals => {:data => @total_clicks, 
						:placeholder => "placeholder1" }%>

<%= render  :partial => "bar_graph", 
			:locals => {:data =>@browsers, 
						:placeholder => "placeholder2",
						:legend => "Browsers" }%>
			
<%= render  :partial => "bar_graph", 
			:locals => {:data =>@config_os, 
						:placeholder => "placeholder3" ,
						:legend => "Operating Systems"}%>
			
<%= render  :partial => "bar_graph", 
			:locals => {:data =>@hours_by_servertime, 
						:placeholder => "placeholder4", 
						:legend => "Hours by Server Time"}%>

<%#= render  :partial => "bar_graph", 
			:locals => {:data =>@data_bars4, :placeholder => "placeholder5"}%>
