	<script type="text/javascript">
	$(function() {
		$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
			.find(".portlet-header")
				.addClass("ui-widget-header ui-corner-all")
				.prepend('<span class="ui-icon ui-icon-plusthick"></span>')
				.end()
			.find(".portlet-content");

		$(".portlet-header .ui-icon").click(function() {
			$(this).toggleClass("ui-icon-minusthick");
			$(this).parents(".portlet:first").find(".portlet-content").toggle();
		});

	});
	</script>





<div style="width:880px">
<%= render :partial =>"portlet", 
		:locals =>{ :data =>@total_clicks,
					:placeholder =>"placeholder1",
					:legend =>"Total visits",
					:title => "Total visits",
					:graph_type => "timeline_plot"
					}
%>
</div>
<div style="width:880px">

<div class="portlet">
	<div class="portlet-header"> Overview </div>
	<div class="portlet-content">
		<div style="font-size:16px">
			<div style="width:450px; float:left; padding-left:30px">
				<strong> <%= @nvisits %> </strong> Total visitors <br> <br>
				<strong>  <%= @page_views %> </strong>  Page views <br> <br>
		 		<strong> <%= @avg_pageviews%> </strong> Average page views <br> <br>
			</div>
			<div style="float:left; margin-right:auto">
		 		<strong> <%= @time_on_site%> </strong> Time on site <br> <br>
		 		<strong> <%= @bounce_rate%>% </strong> Bounce rate <br> <br>
		 		<strong> <%= @new_visits%>% </strong>  New Visits <br> <br>
			</div>
		</div>
	</div>
</div>
</div>


<%= render :partial =>"portlet", 
		:locals =>{ 
					:data =>@traffic_sources,
					:placeholder => "placeholder_traffic_sources",
					:legend => "Traffic sources",
					:title => "Traffic sources",
					:graph_type => "bar_graph"
					}
%>

<%= render :partial =>"portlet", 
		:locals =>{ 
					:data =>@config_os,
					:placeholder => "placeholder33",
					:legend => "Operating Systems",
					:title => "Operating Systems",
					:graph_type => "bar_graph"
					}
%>

 <%= render :partial =>"portlet", 
		:locals =>{ :data =>@browsers,
					:placeholder =>"placeholder2",
					:legend =>"Browsers",
					:title => "Browsers",
					:graph_type => "bar_graph"
					}
%>


<%= render :partial =>"portlet", 
		:locals =>{ :data =>@actions,
					:placeholder =>"placeholder8",
					:legend =>"No. of visitors per page",
					:title => "No. of visitors per page",
					:graph_type => "bar_graph"
					}
%>

<%= render :partial =>"portlet", 
		:locals =>{ :data =>@search_engines,
					:placeholder =>"placeholder5",
					:legend =>"Search Engines",
					:title => "Search Engines",
					:graph_type => "bar_graph"
					}
%>



<%= render :partial =>"portlet", 
		:locals =>{ :data =>@time_spent,
					:placeholder =>"placeholder6",
					:legend =>"Time spent on site",
					:title => "Time spent on site",
					:graph_type => "bar_graph"
					}
%>


<%= render :partial =>"portlet", 
		:locals =>{ :data =>@hours_by_servertime,
					:placeholder =>"placeholder4",
					:legend =>"Hours by server time",
					:title => "Hours by server time",
					:graph_type => "bar_graph"
					}
%>


<%= render  :partial => "portlet_table" , 
			:locals => {:data => @data,
						:placeholder => "tabella1",
						:title => "Searched Keywords"
						} 
%>
<%= render  :partial => "portlet_table" , 
			:locals => {:data => @data_website,
						:placeholder => "tabella2",
						:title =>"Top referers"
						} 
%>




