<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Dashboard </title>
  	<%= stylesheet_link_tag 'screen' %>

</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>
			<div id="header">
				This is header
			</div>
			<div id="main">
						<ul id="subnavigation">
						<li class="active"><%= link_to "Dashboard", :controller => 'dashboard', :action => 'index' %> </li>
						<li class="tab"><%= link_to "Logout", :controller => 'login', :action => 'logout' %> </li>
					
						</ul>
				<%= yield  %>	
			</div>
			<div id="footer">
				This is footer
			</div>
</body>
</html>
