<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Graphs </title>
  	<%#= stylesheet_link_tag 'screen2' %>
	<%#= javascript_include_tag 'flot/jquery' %>

	<link type="text/css" href="/stylesheets/smoothness/jquery-ui-1.7.1.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="/javascripts/jquery/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery/jquery-ui-1.7.1.custom.min.js"></script>
	<%= javascript_include_tag 'flot/jquery.flot'%>

</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>

<div id="container">
	<div id="header-container">
			<div id="header">
				<ul id="subnavigation">
					<li class="tab"><%= link_to "Overview", project_overview_url(:id => @project ) %> </li>
					<li class="active"><%= link_to "Graphs", project_graph1_url(@project) %> </li>
					<li class="tab"><%= link_to "Referers", referers_queries_url(@project) %> </li>
					<li class="tab"><%= link_to "Logout", :controller => 'login', :action => 'logout' %> </li>
				</ul>
			</div>
		</div>
	
	<%= yield  %>

</div>
	
</body>
</html>
